body {
	background: #ff8787;

	background: -moz-linear-gradient(45deg, 
		rgba(255, 135, 135, 1) 0%, 
		rgba(255, 200, 135, 1) 11%, 
		rgba(248, 255, 135, 1) 22%, 
		rgba(153, 255, 133, 1) 33%, 
		rgba(133, 255, 219, 1) 44%, 
		rgba(74, 232, 255, 1) 55%, 
		rgba(74, 163, 255, 1) 66%, 
		rgba(193, 137, 235, 1) 77%, 
		rgba(255, 137, 235, 1) 88%, 
		rgba(255, 135, 135, 1) 100%);

	background: -webkit-linear-gradient(45deg, 
		rgba(255, 135, 135, 1) 0%, 
		rgba(255, 200, 135, 1) 11%, 
		rgba(248, 255, 135, 1) 22%, 
		rgba(153, 255, 133, 1) 33%, 
		rgba(133, 255, 219, 1) 44%, 
		rgba(74, 232, 255, 1) 55%, 
		rgba(74, 163, 255, 1) 66%, 
		rgba(193, 137, 235, 1) 77%, 
		rgba(255, 137, 235, 1) 88%, 
		rgba(255, 135, 135, 1) 100%);

	background: linear-gradient(45deg, 
		rgba(255, 135, 135, 1) 0%, 
		rgba(255, 200, 135, 1) 11%, 
		rgba(248, 255, 135, 1) 22%, 
		rgba(153, 255, 133, 1) 33%, 
		rgba(133, 255, 219, 1) 44%, 
		rgba(74, 232, 255, 1) 55%, 
		rgba(74, 163, 255, 1) 66%, 
		rgba(193, 137, 235, 1) 77%, 
		rgba(255, 137, 235, 1) 88%, 
		rgba(255, 135, 135, 1) 100%);
	
}


//