body {


}


// animation mixins


@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


@include keyframes(background-fade) {
  0%   { background-color: blue; }
  50%  { background-color: white; }
  100% { background-color: blue; }
}

@include keyframes(background-move){
	0% {
		background: -moz-linear-gradient(45deg, 
		rgba(255, 135, 135, .4) 0%, 
		rgba(255, 200, 135, .4) 11%, 
		rgba(248, 255, 135, .4) 22%, 
		rgba(153, 255, 133, .4) 33%, 
		rgba(133, 255, 219, .4) 44%, 
		rgba(74, 232, 255, .4) 55%, 
		rgba(74, 163, 255, .4) 66%, 
		rgba(193, 137, 235, .4) 77%, 
		rgba(255, 137, 235, .4) 88%, 
		rgba(255, 135, 135, .4) 100%);

		background: -webkit-linear-gradient(45deg, 
			rgba(255, 135, 135, .4) 0%, 
			rgba(255, 200, 135, .4) 11%, 
			rgba(248, 255, 135, .4) 22%, 
			rgba(153, 255, 133, .4) 33%, 
			rgba(133, 255, 219, .4) 44%, 
			rgba(74, 232, 255, .4) 55%, 
			rgba(74, 163, 255, .4) 66%, 
			rgba(193, 137, 235, .4) 77%, 
			rgba(255, 137, 235, .4) 88%, 
			rgba(255, 135, 135, .4) 100%);

		background: linear-gradient(45deg, 
			rgba(255, 135, 135, .4) 0%, 
			rgba(255, 200, 135, .4) 11%, 
			rgba(248, 255, 135, .4) 22%, 
			rgba(153, 255, 133, .4) 33%, 
			rgba(133, 255, 219, .4) 44%, 
			rgba(74, 232, 255, .4) 55%, 
			rgba(74, 163, 255, .4) 66%, 
			rgba(193, 137, 235, .4) 77%, 
			rgba(255, 137, 235, .4) 88%, 
			rgba(255, 135, 135, .4) 100%);
	}
	11% {
		background: -moz-linear-gradient(45deg,  
			rgba(255, 200, 135, .4) 0%, 
			rgba(248, 255, 135, .4) 11%, 
			rgba(153, 255, 133, .4) 22%, 
			rgba(133, 255, 219, .4) 33%, 
			rgba(74, 232, 255, .4) 44%, 
			rgba(74, 163, 255, .4) 55%, 
			rgba(193, 137, 235, .4) 66%, 
			rgba(255, 137, 235, .4) 77%, 
			rgba(255, 135, 135, .4) 88%,
			rgba(255, 200, 135, .4) 100%);

		background: -webkit-linear-gradient(45deg, 
			rgba(255, 200, 135, .4) 0%, 
			rgba(248, 255, 135, .4) 11%, 
			rgba(153, 255, 133, .4) 22%, 
			rgba(133, 255, 219, .4) 33%, 
			rgba(74, 232, 255, .4) 44%, 
			rgba(74, 163, 255, .4) 55%, 
			rgba(193, 137, 235, .4) 66%, 
			rgba(255, 137, 235, .4) 77%, 
			rgba(255, 135, 135, .4) 88%,
			rgba(255, 200, 135, .4) 100%);

		background: linear-gradient(45deg, 
			rgba(255, 200, 135, .4) 0%, 
			rgba(248, 255, 135, .4) 11%, 
			rgba(153, 255, 133, .4) 22%, 
			rgba(133, 255, 219, .4) 33%, 
			rgba(74, 232, 255, .4) 44%, 
			rgba(74, 163, 255, .4) 55%, 
			rgba(193, 137, 235, .4) 66%, 
			rgba(255, 137, 235, .4) 77%, 
			rgba(255, 135, 135, .4) 88%,
			rgba(255, 200, 135, .4) 100%);
	}
	22% {
		background: -moz-linear-gradient(45deg,   
			rgba(248, 255, 135, .4) 0%, 
			rgba(153, 255, 133, .4) 11%, 
			rgba(133, 255, 219, .4) 22%, 
			rgba(74, 232, 255, .4) 33%, 
			rgba(74, 163, 255, .4) 44%, 
			rgba(193, 137, 235, .4) 55%, 
			rgba(255, 137, 235, .4) 66%, 
			rgba(255, 135, 135, .4) 77%,
			rgba(255, 200, 135, .4) 88%, 
			rgba(248, 255, 135, .4) 100%);

		background: -webkit-linear-gradient(45deg, 
			rgba(248, 255, 135, .4) 0%, 
			rgba(153, 255, 133, .4) 11%, 
			rgba(133, 255, 219, .4) 22%, 
			rgba(74, 232, 255, .4) 33%, 
			rgba(74, 163, 255, .4) 44%, 
			rgba(193, 137, 235, .4) 55%, 
			rgba(255, 137, 235, .4) 66%, 
			rgba(255, 135, 135, .4) 77%,
			rgba(255, 200, 135, .4) 88%, 
			rgba(248, 255, 135, .4) 100%);

		background: linear-gradient(45deg, 
			rgba(248, 255, 135, .4) 0%, 
			rgba(153, 255, 133, .4) 11%, 
			rgba(133, 255, 219, .4) 22%, 
			rgba(74, 232, 255, .4) 33%, 
			rgba(74, 163, 255, .4) 44%, 
			rgba(193, 137, 235, .4) 55%, 
			rgba(255, 137, 235, .4) 66%, 
			rgba(255, 135, 135, .4) 77%,
			rgba(255, 200, 135, .4) 88%, 
			rgba(248, 255, 135, .4) 100%);
	}
	33% {
		background: -moz-linear-gradient(45deg,    
			rgba(153, 255, 133, .4) 0%, 
			rgba(133, 255, 219, .4) 11%, 
			rgba(74, 232, 255, .4) 22%, 
			rgba(74, 163, 255, .4) 33%, 
			rgba(193, 137, 235, .4) 44%, 
			rgba(255, 137, 235, .4) 55%, 
			rgba(255, 135, 135, .4) 66%,
			rgba(255, 200, 135, .4) 77%, 
			rgba(248, 255, 135, .4) 88%,
			rgba(153, 255, 133, .4) 100%);

		background: -webkit-linear-gradient(45deg, 
			rgba(153, 255, 133, .4) 0%, 
			rgba(133, 255, 219, .4) 11%, 
			rgba(74, 232, 255, .4) 22%, 
			rgba(74, 163, 255, .4) 33%, 
			rgba(193, 137, 235, .4) 44%, 
			rgba(255, 137, 235, .4) 55%, 
			rgba(255, 135, 135, .4) 66%,
			rgba(255, 200, 135, .4) 77%, 
			rgba(248, 255, 135, .4) 88%,
			rgba(153, 255, 133, .4) 100%);

		background: linear-gradient(45deg, 
			rgba(153, 255, 133, .4) 0%, 
			rgba(133, 255, 219, .4) 11%, 
			rgba(74, 232, 255, .4) 22%, 
			rgba(74, 163, 255, .4) 33%, 
			rgba(193, 137, 235, .4) 44%, 
			rgba(255, 137, 235, .4) 55%, 
			rgba(255, 135, 135, .4) 66%,
			rgba(255, 200, 135, .4) 77%, 
			rgba(248, 255, 135, .4) 88%,
			rgba(153, 255, 133, .4) 100%);
	}
	44% {
		background: -moz-linear-gradient(45deg,
			rgba(133, 255, 219, .4) 0%, 
			rgba(74, 232, 255, .4) 11%, 
			rgba(74, 163, 255, .4) 22%, 
			rgba(193, 137, 235, .4) 33%, 
			rgba(255, 137, 235, .4) 44%, 
			rgba(255, 135, 135, .4) 55%,
			rgba(255, 200, 135, .4) 66%, 
			rgba(248, 255, 135, .4) 77%,
			rgba(153, 255, 133, .4) 88%, 
			rgba(133, 255, 219, .4) 100%);

		background: -webkit-linear-gradient(45deg, 
			rgba(133, 255, 219, .4) 0%, 
			rgba(74, 232, 255, .4) 11%, 
			rgba(74, 163, 255, .4) 22%, 
			rgba(193, 137, 235, .4) 33%, 
			rgba(255, 137, 235, .4) 44%, 
			rgba(255, 135, 135, .4) 55%,
			rgba(255, 200, 135, .4) 66%, 
			rgba(248, 255, 135, .4) 77%,
			rgba(153, 255, 133, .4) 88%, 
			rgba(133, 255, 219, .4) 100%);

		background: linear-gradient(45deg, 
			rgba(133, 255, 219, .4) 0%, 
			rgba(74, 232, 255, .4) 11%, 
			rgba(74, 163, 255, .4) 22%, 
			rgba(193, 137, 235, .4) 33%, 
			rgba(255, 137, 235, .4) 44%, 
			rgba(255, 135, 135, .4) 55%,
			rgba(255, 200, 135, .4) 66%, 
			rgba(248, 255, 135, .4) 77%,
			rgba(153, 255, 133, .4) 88%, 
			rgba(133, 255, 219, .4) 100%);
	}
	55% {
		background: -moz-linear-gradient(45deg,
			rgba(74, 232, 255, .4) 0%, 
			rgba(74, 163, 255, .4) 11%, 
			rgba(193, 137, 235, .4) 22%, 
			rgba(255, 137, 235, .4) 33%, 
			rgba(255, 135, 135, .4) 44%,
			rgba(255, 200, 135, .4) 55%, 
			rgba(248, 255, 135, .4) 66%,
			rgba(153, 255, 133, .4) 77%, 
			rgba(133, 255, 219, .4) 88%, 
			rgba(74, 232, 255, .4) 100%);

		background: -webkit-linear-gradient(45deg, 
			rgba(74, 232, 255, .4) 0%, 
			rgba(74, 163, 255, .4) 11%, 
			rgba(193, 137, 235, .4) 22%, 
			rgba(255, 137, 235, .4) 33%, 
			rgba(255, 135, 135, .4) 44%,
			rgba(255, 200, 135, .4) 55%, 
			rgba(248, 255, 135, .4) 66%,
			rgba(153, 255, 133, .4) 77%, 
			rgba(133, 255, 219, .4) 88%, 
			rgba(74, 232, 255, .4) 100%);

		background: linear-gradient(45deg, 
			rgba(74, 232, 255, .4) 0%, 
			rgba(74, 163, 255, .4) 11%, 
			rgba(193, 137, 235, .4) 22%, 
			rgba(255, 137, 235, .4) 33%, 
			rgba(255, 135, 135, .4) 44%,
			rgba(255, 200, 135, .4) 55%, 
			rgba(248, 255, 135, .4) 66%,
			rgba(153, 255, 133, .4) 77%, 
			rgba(133, 255, 219, .4) 88%, 
			rgba(74, 232, 255, .4) 100%);
	}
	// 66% {
	
	// }
	// 77% {
		
	// }
	// 88% {
		
	// }
	100% {
		background: -moz-linear-gradient(45deg, 
		rgba(255, 135, 135, .4) 0%, 
		rgba(255, 200, 135, .4) 11%, 
		rgba(248, 255, 135, .4) 22%, 
		rgba(153, 255, 133, .4) 33%, 
		rgba(133, 255, 219, .4) 44%, 
		rgba(74, 232, 255, .4) 55%, 
		rgba(74, 163, 255, .4) 66%, 
		rgba(193, 137, 235, .4) 77%, 
		rgba(255, 137, 235, .4) 88%, 
		rgba(255, 135, 135, .4) 100%);

		background: -webkit-linear-gradient(45deg, 
			rgba(255, 135, 135, .4) 0%, 
			rgba(255, 200, 135, .4) 11%, 
			rgba(248, 255, 135, .4) 22%, 
			rgba(153, 255, 133, .4) 33%, 
			rgba(133, 255, 219, .4) 44%, 
			rgba(74, 232, 255, .4) 55%, 
			rgba(74, 163, 255, .4) 66%, 
			rgba(193, 137, 235, .4) 77%, 
			rgba(255, 137, 235, .4) 88%, 
			rgba(255, 135, 135, .4) 100%);

		background: linear-gradient(45deg, 
			rgba(255, 135, 135, .4) 0%, 
			rgba(255, 200, 135, .4) 11%, 
			rgba(248, 255, 135, .4) 22%, 
			rgba(153, 255, 133, .4) 33%, 
			rgba(133, 255, 219, .4) 44%, 
			rgba(74, 232, 255, .4) 55%, 
			rgba(74, 163, 255, .4) 66%, 
			rgba(193, 137, 235, .4) 77%, 
			rgba(255, 137, 235, .4) 88%, 
			rgba(255, 135, 135, .4) 100%);
	}
}

body {
  @include animation('background-move 5s infinite');
} 