//vars 

$background: #b3cbd8;
$text: #112c3c; 
$text-lighter: #255673;

//gradient background

@import 'animation';
// body {
// 	background: #ff8787;
// 	background: -moz-linear-gradient(45deg, #ff8787 0%, #ffc887 11%, #f8ff87 22%, #99ff85 33%, #85ffdb 44%, #4ae8ff 55%, #4aa3ff 66%, #c189ff 77%, #ff89ea 88%, #ff8787 100%);
// 	background: -webkit-linear-gradient(45deg, #ff8787 0%,#ffc887 11%,#f8ff87 22%,#99ff85 33%,#85ffdb 44%,#4ae8ff 55%,#4aa3ff 66%,#c189ff 77%,#ff89ea 88%,#ff8787 100%);
// 	background: linear-gradient(45deg, #ff8787 0%,#ffc887 11%,#f8ff87 22%,#99ff85 33%,#85ffdb 44%,#4ae8ff 55%,#4aa3ff 66%,#c189ff 77%,#ff89ea 88%,#ff8787 100%); 
// }


//mixins 
$li_width: percentage(1/6);

//styles 

body {
	// background-color: $background;
	color: $text;
	font-family: 'Cabin', sans-serif;
	.pagecontent {
			min-width: 100%; 
			min-height: 100vh;
			padding-top: 50px;
	}
	h1, h2, h3, p, ul.now {
		text-align: center;
	}
	ul.links {
		margin: 2rem auto; 
		display: block;
		overflow: hidden;
		max-width: 450px;
    -webkit-padding-start: 0px;
		li {
			display: inline-block;
			width: $li_width;
			float: left;
			text-align: center;
			@media (max-width: 768px) {
				display: block; 
				width: 100%;
				padding: 10px 0;
			}
			a {
				color: $text;
			}
		}
	}
	ul.now {
		
	}
}