//vars 

$background: #b3cbd8;
$text: #112c3c; 
$text-lighter: #255673;

//gradient background

$red: rgba(255, 135, 135, .2); 
$orange: rgba(255, 200, 135, .2);
$yellow: rgba(248, 255, 135, .2);
$green: rgba(153, 255, 133, .2);
$teal: rgba(133, 255, 219, .2);
$blue: rgba(74, 232, 255, .2);
$violet: rgba(74, 163, 255, .2);
$purple: rgba(193, 137, 235, .2);
$pink: rgba(255, 137, 235, .2);


@import 'animation';


//mixins 

$li_width: percentage(1/6);

//styles 
body {
	color: $text;
	font-family: 'Cabin', sans-serif;
	.pagecontent {
			min-width: 100%; 
			min-height: 100vh;
			padding-top: 50px;
	}
	h1, h2, h3, p, ul.now {
		text-align: center;
	}
	ul.links {
		margin: 2rem auto; 
		display: block;
		overflow: hidden;
		max-width: 450px;
    -webkit-padding-start: 0px;
		li {
			display: inline-block;
			width: $li_width;
			float: left;
			text-align: center;
			@media (max-width: 768px) {
				display: block; 
				width: 100%;
				padding: 10px 0;
			}
			a {
				color: $text;
			}
		}
	}
	ul.now {
		
	}
}